.home__container{
    width: 90%;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-around; /* Espaços em volta */
    align-items: baseline; /* Alinhamento pela base */
    flex-wrap:wrap; /* Toda vez que o elemnto se limite ele vai para baixo */
    border:1px solid rgb(247, 0, 255);
    color: white;

}
