.card__container{
    position: relative; /* Quando queremos posicionar de forma que os elementos fiquem na frente dele*/
    border: solid 3px #3E4357;
    border-radius: 15px;
    width: 350px;
    height: 500px;
    display: flex;
    overflow: hidden;/*Tudo o que sair do tamanho nossa caixa container ficará escondido*/
    margin-top: 10px;
}
.card__container > img {
    min-width: 100%;
    min-height: 100%;
    transition: transform 0.8s;}

.card__container > img:hover {
    transform:scale(1.1) /* Efeito zoom - 1 = 100% logo 1.1 =110%*/
}